**Importing Libraries**

In [65]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn import metrics

**Importing Data**

In [66]:
from google.colab import files 
uploaded=files.upload()

Saving bank-full.csv to bank-full (1).csv

In [67]:
data=pd.read_csv('bank-full.csv',';')

In [68]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [69]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [71]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

**Duplicates**

In [72]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
45206    False
45207    False
45208    False
45209    False
45210    False
Length: 45211, dtype: bool

In [73]:
data[data.duplicated()].shape

(0, 17)

In [74]:
data[data.duplicated()]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

**Missing Values**

In [75]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
y            False
dtype: bool

In [76]:
data.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [77]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [78]:
data.shape

(45211, 17)

In [79]:
data['y'].value_counts()

no     39922
yes     5289
Name: y, dtype: int64

In [80]:
label_encoder=preprocessing.LabelEncoder()
data['job']=label_encoder.fit_transform(data['job'])
data['marital']=label_encoder.fit_transform(data['marital'])
data['education']=label_encoder.fit_transform(data['education'])
data['default']=label_encoder.fit_transform(data['default'])
data['housing']=label_encoder.fit_transform(data['housing'])
data['loan']=label_encoder.fit_transform(data['loan'])
data['contact']=label_encoder.fit_transform(data['contact'])
data['month']=label_encoder.fit_transform(data['month'])
data['y']=label_encoder.fit_transform(data['y'])
data['poutcome']=label_encoder.fit_transform(data['poutcome'])

In [81]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

In [82]:
data.y.replace(to_replace=['no','yes'], value=[0,1],inplace=True)

In [83]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

**Normalizing data on two columns alone**

In [84]:
ndata=data[['balance','duration']]
ndata

       balance  duration
0         2143       261
1           29       151
2            2        76
3         1506        92
4            1       198
...        ...       ...
45206      825       977
45207     1729       456
45208     5715      1127
45209      668       508
45210     2971       361

[45211 rows x 2 columns]

In [85]:
ndata= (ndata - np.min(ndata)) / (np.max(ndata) - np.min(ndata))
ndata

        balance  duration
0      0.092259  0.053070
1      0.073067  0.030704
2      0.072822  0.015453
3      0.086476  0.018707
4      0.072812  0.040260
...         ...       ...
45206  0.080293  0.198658
45207  0.088501  0.092721
45208  0.124689  0.229158
45209  0.078868  0.103294
45210  0.099777  0.073404

[45211 rows x 2 columns]

In [86]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

In [87]:
data=data.drop(['balance','duration'],axis=1)

In [88]:
data.head()

,age,job,marital,education,default,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,1,0,2,5,8,1,-1,0,3,0
1,44,9,2,1,0,1,0,2,5,8,1,-1,0,3,0
2,33,2,1,1,0,1,1,2,5,8,1,-1,0,3,0
3,47,1,1,3,0,1,0,2,5,8,1,-1,0,3,0
4,33,11,2,3,0,0,0,2,5,8,1,-1,0,3,0

In [103]:
data=pd.concat([ndata,data],axis=1)
data

,balance,duration,age,job,marital,education,default,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,0.092259,0.053070,58,4,1,2,0,1,0,2,5,8,1,-1,0,3,0
1,0.073067,0.030704,44,9,2,1,0,1,0,2,5,8,1,-1,0,3,0
2,0.072822,0.015453,33,2,1,1,0,1,1,2,5,8,1,-1,0,3,0
3,0.086476,0.018707,47,1,1,3,0,1,0,2,5,8,1,-1,0,3,0
4,0.072812,0.040260,33,11,2,3,0,0,0,2,5,8,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.080293,0.198658,51,9,1,2,0,0,0,0,17,9,3,-1,0,3,1
45207,0.088501,0.092721,71,5,0,0,0,0,0,0,17,9,2,-1,0,3,1
45208,0.124689,0.229158,72,5,1,1,0,0,0,0,17,9,5,184,3,2,1
45209,0.078868,0.103294,57,1,1,1,0,0,0,1,17,9,4,-1,0,3,0
45210,0.099777,0.073404,37,2,1,1,0,0,0,0,17,9,2,188,11,1,0

**Building Model**

In [104]:
X = data.iloc[:,0:16]
Y = data.iloc[:,-1]

In [105]:
X

,balance,duration,age,job,marital,education,default,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,0.092259,0.053070,58,4,1,2,0,1,0,2,5,8,1,-1,0,3
1,0.073067,0.030704,44,9,2,1,0,1,0,2,5,8,1,-1,0,3
2,0.072822,0.015453,33,2,1,1,0,1,1,2,5,8,1,-1,0,3
3,0.086476,0.018707,47,1,1,3,0,1,0,2,5,8,1,-1,0,3
4,0.072812,0.040260,33,11,2,3,0,0,0,2,5,8,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.080293,0.198658,51,9,1,2,0,0,0,0,17,9,3,-1,0,3
45207,0.088501,0.092721,71,5,0,0,0,0,0,0,17,9,2,-1,0,3
45208,0.124689,0.229158,72,5,1,1,0,0,0,0,17,9,5,184,3,2
45209,0.078868,0.103294,57,1,1,1,0,0,0,1,17,9,4,-1,0,3
45210,0.099777,0.073404,37,2,1,1,0,0,0,0,17,9,2,188,11,1

In [106]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [107]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

In [108]:
#Logistic regression and fit the model
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression()

In [109]:
#Predict for X dataset
y_pred = classifier.predict(X)

In [110]:
y_pred_df= pd.DataFrame({'Actual': Y,
                         'Predicted_Values': classifier.predict(X)})

In [111]:
y_pred_df

       Actual  Predicted_Values
0           0                 0
1           0                 0
2           0                 0
3           0                 0
4           0                 0
...       ...               ...
45206       1                 0
45207       1                 0
45208       1                 0
45209       0                 0
45210       0                 1

[45211 rows x 2 columns]

In [112]:
y_pred_df['Actual'].value_counts()

0    39922
1     5289
Name: Actual, dtype: int64

In [113]:
y_pred_df['Predicted_Values'].value_counts()

0    45126
1       85
Name: Predicted_Values, dtype: int64

**Confusion Matrix**

In [114]:
# Confusion Matrix for the model accuracy
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y,y_pred)
print (confusion_matrix)

[[39866    56]
 [ 5260    29]]

In [115]:
((39866+29)/(39866+56+5260+29))*100

88.24179956205349

In [116]:
#Classification report
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     39922
           1       0.34      0.01      0.01      5289

    accuracy                           0.88     45211
   macro avg       0.61      0.50      0.47     45211
weighted avg       0.82      0.88      0.83     45211